.hidden {
    display: none; 
}

body{
    background-color: black;
    color: white; 
}

main{
}

.background-gradient{
    background-color: none; 
}

.landing{
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-evenly;
}

.landing header{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

header{
    margin-bottom: 25px; 
}

header h1{
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
    text-align: center; 
}

button{
    border-radius: 8px;
    background-color: white;
    border: 1px solid white;
}

button:focus{
    outline: none; 
}

#add-state-btn{
    margin: 0;
    font-size: 21px;
    width: 40px;
}

.landing img{
    margin: 0 auto;
    display: block;
    height: 300px;
    margin-bottom: 25px;
}

.landing button{
    width: 200px;
    margin: 0 auto;
    display: block;
    font-size: 32px;
}

#chart{
    position: relative;
    margin: auto;
    height: 60vh;
}

#chart-top h2{
    font-size: 18px;
    text-align: center;
}

#page-chart-choice section {
    display: block;
    margin: 25px auto;
    border: 5px solid white;
    box-shadow: 1px 1px 20px white;
    padding: 1em;
    width: 225px;
    height: 150px;
}

.chart-choice-p{
    width: 150px;
    display: block;
    margin: 10px auto;
    text-align: center;
}
#page-compare form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
    font-size: 20px; 
}

#page-compare fieldset{
    border: 5px solid white;
    margin-bottom: 25px;
    display: block;
    margin: 25px auto;
    font-size: 21px;
    min-width: 260px;
}

#page-compare button{
    margin: 0 auto;
    text-align: center;
}

#state-container div{
    margin-bottom: 10px; 
}

form select:hover, input:hover{
    cursor: pointer
}

#first-state{
    display: block; 
}

.state{
    display: block
}

.state-val{
    font-size: 21px;
    color: black;
    border: 1px solid white;
}

.state-val:focus{
    outline: none; 
}

#submit-btn{
    margin: 0 auto;
    display: block;
    font-size: 21px;
}

.remove-state-btn{
    display: inline-block;
    font-size: 21px;
    width: 25px;
    font-weight: bold;
}

input[type=checkbox] {
    transform: scale(1.5);
  }

.modal{
    border: 5px solid white;
    background-color: black;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 275px;
    height: 300px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    transform: translate(-50%, -25%);
}

.modal-close{
    width: 25px;
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin: 5px 5px 0px auto;
}

.modal-close:hover{
    cursor: pointer;
}

.modal>h1 {
    margin-top: 15%;
    font-size: 28px;     
}

.opaque{
    opacity: 0.5
}

.graph-btn-container{
    text-align: center;
    margin-top: 5px;
    font-size: 32px;
}

.graph-btn{
    display: inline-block;
    margin-right: 5px;
    font-size: 21px;
}

.graph-btn.inactive-btn{
    background-color: grey; 
    border: 1px solid grey;
}

#chart-title{
    text-align: center
}

#chart-canvas{
    max-width: 980px; 
}

#y-axis-label{
    float: left;
}

@media (min-width: 600px) {

    header h1{
        font-size: 42px;
    }

    fieldset {
        width: 500px; 
    }

    button:hover{
        cursor: pointer;
        box-shadow: 2px 2px 5px white;
    }

    .modal{
        width: 50%; 
    }

    #chart{
        position: relative;
        height: 450px;
        width: 95vw;
        max-width: 950px;
    }
}

/* position: relative;
margin: auto;
height: 60vh; */


